body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
#topBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#saveAllBtn {
    margin-right: 25px;
    border: 2px solid black;
    height: 30px;
    border-radius: 3px;
}
#saveAllBtn:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.hourRow{
    margin: 2px 25px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    
}
#clearBtn {
    margin-left: 25px;
    border: 2px solid black;
    border-radius: 3px;
    height: 30px;
}
#clearBtn:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.leftColumn{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    /* padding: 35px 0px 25px 40px; */
    padding: 25px;
    border-right: 3px solid black;
    
}

.middleColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    width: 150px;
}

textarea {
 width: 100%;
 height: 80px;
 background: transparent;
 border: none;
 resize: none;
 padding: 10px;
 font-size: 15px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  
  /* textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
     }
  
  .row {
    border-top: 1px solid white;
    
  }
  /* .row-time-block {
    margin: 0px 20px;
  } */

  
  /* .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  } */
  
  .past {
    background-color: rgb(111, 111, 218);
    
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 2px solid black;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #06aed5;
    color: white;
    height: 100%;
    font-size: 35px;
  }
  
  .saveBtn:hover {
    font-size: 50px;
    transition: all 0.3s ease-in-out;
  }
 
